<!-- Comienza Sección Eventos -->
<link rel="stylesheet" href="club.css">
<div id="eventos" class="container my-5">
    <h2 class="text-center">Próximos Eventos</h2>
    <ul class="row list-unstyled">
        {{#each eventos}}
        <li class="col-md-4">
            <div class="card">
                <img src="/img/evento.jpg" class="card-img-top" alt="Evento 1">
                <div class="card-body">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#Modal{{id}}" class="event-link">{{titulo}}</a>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>

<!-- Modal -->
{{#each eventos}}
<div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel{{id}}">{{titulo}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>{{subtitulo}}</h5>
                <p>{{cuerpo}}</p> 
            </div>
        </div>
    </div>
</div>
{{/each}}
<!-- Fin Modal -->
<!-- Fin Sección Eventos -->


<!-- Comienza la fila que contiene tanto la tabla como la sección de socios -->
<div class="d-flex justify-content-between my-5">
    <div class="tabla-container">
        <!-- comienzo tabla -->


        <table id="tabla-liga" class="table table-bordered">

            <thead>
                <tr>
                    <th colspan="9">
                        <h2>Tabla de posiciones - División "B" - Zona 02</h2>
                    </th>
                </tr>

                <tr>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th>G</th>
                    <th>E</th>
                    <th>P</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DIF</th>
                    <th>PTS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">1</span>
                            <img src="/img/CENTENARIO.png" alt="Logo Equipo A">
                            <span class="nombre-equipo">Centenario FBC</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>9</td>
                    <td>6</td>
                    <td>2</td>
                    <td>27</td>
                    <td>14</td>
                    <td>13</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">2</span>
                            <img src="/img/atlsanmartin.png" alt="Logo Equipo B">
                            <span class="nombre-equipo">Atl. San Martín</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>9</td>
                    <td>4</td>
                    <td>4</td>
                    <td>25</td>
                    <td>18</td>
                    <td>7</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">3</span>
                            <img src="/img/CENTRALARGENTINO.png" alt="Logo Equipo C">
                            <span class="nombre-equipo">Central Argentino</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>8</td>
                    <td>7</td>
                    <td>2</td>
                    <td>28</td>
                    <td>14</td>
                    <td>4</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">4</span>
                            <img src="/img/independientefbc.png" alt="Logo Equipo D">
                            <span class="nombre-equipo">Independiente FBC</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>7</td>
                    <td>6</td>
                    <td>4</td>
                    <td>17</td>
                    <td>12</td>
                    <td>5</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">5</span>
                            <img src="/img/SPORTSMAN.png" alt="Logo Equipo E">
                            <span class="nombre-equipo">Sportsman CSD</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>7</td>
                    <td>5</td>
                    <td>5</td>
                    <td>23</td>
                    <td>19</td>
                    <td>4</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">6</span>
                            <img src="/img/NUEVAERA.png" alt="Logo Equipo F">
                            <span class="nombre-equipo">Nueva Era</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>6</td>
                    <td>2</td>
                    <td>9</td>
                    <td>22</td>
                    <td>25</td>
                    <td>-3</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">7</span>
                            <img src="/img/LAFC.png" alt="Logo Equipo G">
                            <span class="nombre-equipo">Los Andes FBC</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>5</td>
                    <td>3</td>
                    <td>9</td>
                    <td>12</td>
                    <td>28</td>
                    <td>-16</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">8</span>
                            <img src="/img/CHAPUY.png" alt="Logo Equipo H">
                            <span class="nombre-equipo">Deportivo Chapuy</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>4</td>
                    <td>5</td>
                    <td>8</td>
                    <td>21</td>
                    <td>29</td>
                    <td>-8</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">9</span>
                            <img src="/img/SPORTIVOMARIATERESA.png" alt="Logo Equipo I">
                            <span class="nombre-equipo">Sportivo MT</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>3</td>
                    <td>7</td>
                    <td>7</td>
                    <td>19</td>
                    <td>24</td>
                    <td>-5</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo-info">
                            <span class="posicion">10</span>
                            <img src="/img/NM.png" alt="Logo Equipo J">
                            <span class="nombre-equipo">Náutico Melincué</span>
                        </div>
                    </td>
                    <td>17</td>
                    <td>2</td>
                    <td>5</td>
                    <td>10</td>
                    <td>12</td>
                    <td>23</td>
                    <td>-11</td>
                    <td>11</td>
                </tr>



            </tbody>
        </table>
    </div>

    
    <div id="calendario" class="calendario-container" style="flex: 0 0 25%; padding-left: 20px;">
        <h3 class="text-center">Calendario de Partidos</h3>
        <ul>
            
            <li><strong>Fecha 01</strong> - <span>Deportivo Chapuy vs Independiente FBC</span> - <span>Estadio de
                    Deportivo chapuy</span></li>
            <li><strong>Fecha 02</strong> - <span>Centenario FBC vs Independiente FBC</span> - <span>Estadio de
                    Centenario FBC</span></li>
            <li><strong>Fecha 03</strong> - <span>Independiente FBC vs Nautico Melincué</span> - <span>Estadio de
                    Independiente FBC</span></li>
            <li><strong>Fecha 4</strong> - <span>Nueva Era vs Independiente FBC</span> - <span>Estadio de
                    Nueva Era</span></li>
            <li><strong>Fecha 05</strong> - <span>Independiente FBC vs Los Andes FBC</span> - <span>Estadio de
                    Independiente FBC</span></li>
            <li><strong>Fecha 06</strong> - <span>Sportsman vs Independiente FBC</span> - <span>Estadio de
                    Sportsman</span></li>
            <li><strong>Fecha 07</strong> - <span>Independiente FBC vs Central Argentino</span> - <span>Estadio de
                    Independiente FBC</span></li>
            <li><strong>Fecha 08</strong> - <span>Atl. San Martín vs Independiente FBC</span> - <span>Estadio de
                    Atl. San Martín</span></li>
           <li><strong>Fecha 09</strong> - <span>Independiente FBC vs Sportivo MT</span> - <span>Estadio de
                    Independiente FBC</span></li>
           <li><strong>Fecha 01 (Vuelta)</strong> - <span>Independiente FBC vs Deportivo Chapuy</span> - <span>Estadio de
                    Independiente FBC </span></li>
            <li><strong>Fecha 02 (Vuelta)</strong> - <span>Independiente FBC vs Centenario FBC</span> - <span>Estadio de
                    Independiente FBC</span></li>
            
        </ul>
    </div>
</div>
<!-- Fin de la fila -->
<!-- tabla -->
</div>
<!-- FIN carrusel y tabla -->

<!-- COMIENZO seccion visitanos -->
<div id="conocenos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d798.1107369203612!2d-61.60873770803249!3d-34.01445899949085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c7e9710ecc6963%3A0x10df05d02cd5311c!2sIndependiente%20F%C3%BAtbol%20Club!5e0!3m2!1ses!2sar!4v1727445622378!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- COMIENZO contactanos -->
    <div class="col-md-4 mt-4 mt-sm-0" id="contactanos">
        <h2>Contactanos</h2>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="email@email.com">
            </div>
            <div class="col-12">
                <label for="tel" class="form-label">Tel</label>
                <input type="text" class="form-control" id="tel" name="tel" placeholder="...">
            </div>
            <div class="col-12">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        {{message}}
    </div>
    <!-- FIN contactanos -->
</div>
<!-- FIN seccion visitanos -->