<div class="container" style="margin:100px auto">
    {{!-- fila1 --}}
    <div class="row">
        <div class="col">
            <p style="float:right">
                <span>Hola {{usuario}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión
                    <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
    {{!-- fin fila 1 --}}

    {{!-- inicio fila2 --}}
    <div class="row">
        <div class="col-7" style="margin-top:-15px ;">
            <h2 style="color: white;">Listado de Eventos</h2>
        </div>
        <div class="col-5 text-right">
            <a href="/admin/eventos/agregar" class="btn btn-success" style="float:right;  margin-top:-10px;"><i class="fas 
               fa-plus"></i> Nuevo</a>
        </div>
    </div>
    {{!-- fin fila2 --}}

    {{!-- inicio fila3 --}}
    <div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col" class="text-end">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each eventos}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td class="text-end">
                        <a href="/admin/eventos/modificar/{{id}}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                        <a href="/admin/eventos/eliminar/{{id}}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


</div>